html {
  font-family: "Open Sans", serif;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin: 0;
}
