html {
  font-family: "Open Sans", serif;
  line-height: 1.5;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  flex-grow: 1;
}

.cards {
  margin: 0;
  padding: 0 1.5rem 1.5rem;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.cards img {
  width: 100px;
  margin-bottom: 1.5rem;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin: 0;
  padding: 1.5rem;
}

h3 {
  font-size: .875rem;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 1rem;
  color: black;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

li {
  padding: .75rem;
}

.book-1 {
  color: #333;
  font-weight: normal;
  font-family: "Open Sans", serif;
  text-decoration: none;
  font-size: 1rem;
  width: 25%;
  display: block;
  padding: .75rem;
  background-color: #e2e2e2;
  text-align: left;
}

.book-2 {
  color: #333;
  font-weight: normal;
  font-family: "Open Sans", serif;
  text-decoration: none;
  font-size: 1rem;
  width: 25%;
  display: block;
  padding: .75rem;
  background-color: #ccc;
  text-align: left;
}

.book-3 {
  color: #333;
  font-weight: normal;
  font-family: "Open Sans", serif;
  text-decoration: none;
  font-size: 1rem;
  width: 25%;
  display: block;
  padding: .75rem;
  background-color: #aaa;
  text-align: left;
}

.book-4 {
  color: #333;
  font-weight: normal;
  font-family: "Open Sans", serif;
  text-decoration: none;
  font-size: 1rem;
  width: 25%;
  display: block;
  padding: .75rem;
  background-color: #999;
  text-align: left;
}

.btn {
  color: #fff;
  font-weight: normal;
  font-family: "Open Sans", serif;
  text-decoration: none;
  font-size: .875rem;
  max-width: 20em;
  display: block;
  padding: .75rem;
  margin: 0;
  background-color: #333;
  border-radius: 10px;
  text-align: left;
}

.btn:hover {
  background-color: black;
  text-decoration: none;
}

.btn-small {
  font-size: .875rem;
}
