html {
  font-family: "Open Sans", serif;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

body {
  margin: 0;
}

img {
  width: 100px;
  height: auto;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin: 0;
}

strong {
  font-size: 1rem;
}

p {
  font-size: .875rem;
  font-weight: bold;
}

.book-1 {
  color: #333;
  font-weight: normal;
  font-family: Georgia, serif;
  text-decoration: none;
  font-size: 1.125rem;
  max-width: 20em;
  display: block;
  padding: .2em .5em .3em;
  background-color: #e2e2e2;
  text-align: center;
}

.book-2 {
  color: #333;
  font-weight: normal;
  font-family: Georgia, serif;
  text-decoration: none;
  font-size: 1.125rem;
  max-width: 20em;
  display: block;
  padding: .2em .5em .3em;
  background-color: #ccc;
  text-align: center;
}

.book-3 {
  color: #333;
  font-weight: normal;
  font-family: Georgia, serif;
  text-decoration: none;
  font-size: 1.125rem;
  max-width: 20em;
  display: block;
  padding: .2em .5em .3em;
  background-color: #aaa;
  text-align: center;
}

.book-4 {
  color: #333;
  font-weight: normal;
  font-family: Georgia, serif;
  text-decoration: none;
  font-size: 1.125rem;
  max-width: 20em;
  display: block;
  padding: .2em .5em .3em;
  background-color: #999;
  text-align: center;
}
